@import url(/node_modules/@fontsource/nunito/400.css);
@import url(/node_modules/@fontsource/nunito/800.css);

:root {
  --color-main: #ed6436;
  --typography-main: "nunito";
  --typography-bold: "nunito-cyrillic-ext-800-normal";
}

*,
::before,
::after {
  box-sizing: border-box;
}
a,
a:visited {
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: var(--typography-main);
  width: 100vw;
  height: 100vh;
}
.activities-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activities-section__title {
  font-weight: 900;
}
.text-view-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  width: 100%;
}
.text-view-all__text {
  font-weight: 900;
  font-size: 4.6rem;
}

.text-view-all__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--color-main);
  border-radius: 0 30px 30px;
  font-size: 1.1rem;
  font-weight: 600;
  height: 70px;
  width: 140px;
}

@media screen and (max-width: 970px) {
  .text-view-all {
    flex-direction: column;
    padding: 50px;
  }
  .text-view-all__text {
    font-size: 2.7rem;
  }

  .text-view-all__button {
    font-size: 0.8rem;
  }
}
